import * as Styled from './styles'

const {{pascalCase name}} = () => (
  <Styled.{{pascalCase name}}Wrapper>
    <h1>{{pascalCase name}}</h1>
  </Styled.{{pascalCase name}}Wrapper>
)

export default {{pascalCase name}}
